
.espnav{
	margin: 10px 20px;
	position: center;
}
.number{
	width: 100px;
}
.produto{
	height: 100px;
	padding: 0px 100px 10px 100px ;

}
.teste{
	text-align: center;
	margin-top: 20px;
}

.p1{
	margin-top: 40px;
}
.cont{
	margin-top: 170px;
}
.botao{
	margin-top: 180px;
}
.compra{
	background-color:  #39c3ef;
	border-color:  #39c3ef;
}
.down{
	margin-top: 200px;
}
.info {
	border-color: #2f80e7;
	color: #FFF;
	background-color: red;
}