.tamanhoima{
	height: 400px;
	padding: 0px 100px 10px 100px ;
}
.dista{
	margin-top: 200px;

}
.logo{
	margin: 10px 0px 20px 0px;
	width: 250px;
}
.cab{
	color: white;
	margin: 0px 0px 0px 100px;
}
.logo{

	margin: 10px 0px 20px 0px;
	width: 250px;
}
.espaco{
	margin: 0px 0px 0px 100px;
}
.topo{
	background-color:white;
}
.busca{
	margin-top: 40px;
	width: px;
}
.desc{
	text-align: justify;
}
.cornavbar{
	color: white;
}
.cep{
	margin-right: 30px;
}
.comp{
	margin-bottom: 20px;
	
}
.comprar{
	background-color:  #38b6ff;
	border-color:  #38b6ff;
}
.table{
	margin-bottom: 110px;
}

