.nav-main .logo{
	float: left;
	height: 40px;
	padding:15px 30px;
	font-size: 1.4em;
	line-height: 40px;

}

.nav-main > ul{
	margin: 0;
	padding:0;
	float: left;
	list-style-type: none;

}

.nav-main > ul > li{
	float: left;
}

.nav-item{
	display: inline-block;
	padding:15px 20px;
	height: 40px;
	line-height: 10px;
	color: white;
}

.nav-content{
	position: absolute;
	top: 50px;
	overflow: hidden;
	background-color:#38b6ff;
	max-height:0; 
}

.nav-content a {
	color: white;
	text-decoration: none;

}

.nav-content a:hover{
	color: #ff914d;
}

.nv-sub{
	padding:20px;
}

.nav-sub ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a{
	display: inline-block;
	padding: 5px 0;

}

.nav-item:focus{
	background-color:#;
}

.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition:max-height 0.4s ease-in;
	-moz-transition:max-height 0.4s ease-in;
	transition:max-height 0.4s ease-in;
}

.espnav{
	margin: 10px 20px;
	position: center;
}