.espaco{
	margin: 0px 0px 0px 100px;
}
.fonte{
	font-family: 'Bree Serif', serif;

}
.espacamento{
	margin-top:200px; 
}
.topo{
	background-color:white;
}
.logo{

	margin: 10px 0px 20px 0px;
	width: 250px;
}
.cornavbar{
	color: white;
}
.fundo1{
	height: 900px;
}
.rolagemlivros{
	text-align: center;
	padding: 100px;
}
.oferta{
	text-align: center;
}
.textlivro{
	color: #39c3ef;
	text-align: center;
}
.addcarrinho{
	position: center;
	color-bottom: #ff8f49;

}